.root {
    background-color: var(--background-color-1000);
}

.small {
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-sm);
}

.medium {
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-md);
}

.large {
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-lg);
}