.modal {
    width: 24rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.subtitle {
    font-size: var(--text-size-md);
    font-weight: 700;
}

.selectedList {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectedList .avatar:not(:first-child) {
    margin-left: -0.5rem;
}

.selectedNames {
    font-size: var(--text-size-xs);
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    list-style: none;
    overflow-y: auto;
    max-height: 20rem;
}

.item {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius-sm);
    padding: var(--padding-sm);
    background-color: var(--background-color-1000);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.item:hover {
    background-color: var(--background-color-900);
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--text-contrast-color);
    font-size: var(--text-size-sm);
    font-weight: 700;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: var(--text-size-md);
    font-weight: 700;
}

.role {
    font-size: var(--text-size-xs);
}

.checked {
    fill: var(--primary-color-500);
    width: 1.5rem;
    height: 1.5rem;
}