.root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    border: 2px solid var(--primary-color-500);
    border-radius: var(--border-radius-sm);
    position: relative;
}

.container:hover {
    border-color: var(--primary-color-700);
}

.container:hover .input {
    color: var(--primary-color-700);
}

.container:hover .input::placeholder {
    color: var(--text-color-500);
}

.input {
    background-color: transparent;
    padding: var(--padding-sm) var(--padding-md);
    color: var(--primary-color-500);
    font-size: var(--text-size-md);
    flex: 1;
    resize: none;
}

.input::placeholder {
    color: var(--text-color-300);
}

.button {
    display: flex;
    position: absolute;
    background-color: var(--background-color-1000);
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm) var(--padding-md);
    cursor: pointer;
}

.icon {
    fill: var(--primary-color-500);
    transition: fill 0.1s ease-in-out;
}

.button:hover .icon {
    fill: var(--primary-color-700);
}

.errorMessage {
    color: var(--tertiary-color-500);
    font-size: var(--text-size-sm);
}