.root {
    cursor: pointer;
    background-color: var(--primary-color-500);
    color: var(--text-contrast-color);
    font-weight: 800;
    font-size: var(--text-size-md);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    transition: background-color 0.1s ease-in-out;
    display: inline-block;
}

.root:hover {
    background-color: var(--primary-color-600);
}

.root:disabled {
    background-color: var(--primary-color-700);
    pointer-events: none;
}

.link {
    text-decoration: none;
    text-align: center;
}