.root.primary {
    cursor: pointer;
    background-color: var(--primary-color-500);
    color: var(--text-contrast-color);
    font-weight: 800;
    font-size: var(--text-size-md);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    transition: background-color 0.1s ease-in-out;
    display: inline-block;
}

.root.secondary {
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color-500);
    font-weight: 800;
    font-size: var(--text-size-md);
    padding: var(--padding-sm) var(--padding-md);
    border: 2px solid var(--primary-color-500);
    border-radius: var(--border-radius-sm);
    transition: opacity 0.1s ease-in-out;
    display: inline-block;
}

.root.primary:hover {
    background-color: var(--primary-color-600);
}

.root.secondary:hover {
    opacity: 0.5;
}

.root.primary:disabled {
    opacity: 0.2;
    pointer-events: none;
}

.root.secondary:disabled {
    background-color: var(--primary-color-100);
    pointer-events: none;
}

.link {
    text-decoration: none;
    text-align: center;
}