.root {
    width: 300px;
    overflow: hidden;
    pointer-events: all;
}

.bar {
    height: 0.5rem;
}

.infoBar {
    background-color: var(--primary-color-300);
}

.warningBar {
    background-color: var(--secondary-color-300);
}

.errorBar {
    background-color: var(--tertiary-color-300);
}

.progress {
    height: 100%;
    width: 0%;
}

.infoProgress {
    background-color: var(--primary-color-500);
}

.warningProgress {
    background-color: var(--secondary-color-500);
}

.errorProgress {
    background-color: var(--tertiary-color-500);
}

.content {
    padding: var(--padding-md) var(--padding-lg);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--padding-sm);
}

.title {
    font-size: var(--text-size-md);
    font-weight: 700;
}

.close {
    cursor: pointer;
    font-size: var(--text-size-md);
    font-weight: 700;
    color: var(--text-color-100);
    background-color: transparent;
}