.root {
    border: var(--border);
    background-color: var(--background-color-1000);
}

.small {
    border-radius: var(--border-radius-sm);
}

.medium {
    border-radius: var(--border-radius-md);
}

.large {
    border-radius: var(--border-radius-lg);
}