.list {
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    list-style: none;
    justify-content: flex-start;
    align-items: flex-start;
}

.item {
    display: flex;
    flex-direction: column;
    padding: var(--padding-sm);
    width: 20%;
    border-top: var(--padding-sm) solid var(--primary-color-500);
}

.itemTitle {
    font-size: var(--text-size-sm);
    font-weight: 800;
    overflow: hidden;
    display: block;
    width: 100%;
    max-height: 2.6rem;
    line-height: 1.3rem;

}

.itemDescription {
    font-size: var(--text-size-xs);
    color: var(--text-color-300);
    overflow: hidden;
    display: block;
    width: 100%;
    max-height: 2.6rem;
    line-height: 1.3rem;
}

.itemDate {
    background-color: var(--background-color-900);
    font-size: var(--text-size-xs);
    font-weight: 700;
    padding: var(--padding-xs);
    border-radius: var(--border-radius-sm);
    width: fit-content;
    margin-bottom: var(--gap-sm);
}

.itemLinkSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--text-size-xs);
    margin-top: var(--gap-md);
}

.itemLinkSection a {
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemTagSection {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    flex-wrap: wrap;
    width: 100%;
    margin-top: var(--gap-md);
}

.itemTag {
    padding: var(--padding-xs);
    border-radius: var(--border-radius-sm);
    background-color: var(--primary-color-500);
    color: var(--text-contrast-color);
    font-size: var(--text-size-xs);
    font-weight: 700;
}