.root {
    display: flex;
    flex-direction: column;
    border-right: var(--border);
    padding: var(--padding-lg);
    gap: var(--gap-lg);
    width: 250px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    padding: var(--padding-sm) var(--padding-sm);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    gap: var(--gap-sm);
}

.active {
    background-color: var(--primary-color-500);
    color: var(--text-contrast-color);
}

.icon {
    width: 1.4rem;
    height: 1.4rem;
}

.active .icon path {
    stroke: var(--text-contrast-color);
}