@font-face {
    font-family: 'Manrope';
    src: url("./assets/font/Manrope-VariableFont_wght.ttf");
}

html {
    font-size: 16px;
    --primary-color-1000: #d8d3ff;
    --primary-color-900: #a99eff;
    --primary-color-800: #7a6eff;
    --primary-color-700: #5e4cff;
    --primary-color-600: #402bff;
    --primary-color-500: #1600da;
    --primary-color-400: #0f00b3;
    --primary-color-300: #0a0080;
    --secondary-color-500: #ffb326;
    --secondary-color-400: #eb9800;
    --secondary-color-300: #b46d00;
    --tertiary-color-500: #ff0037;
    --tertiary-color-400: #da002f;
    --tertiary-color-300: #b40024;
    --background-color-1000: #ffffff;
    --text-color-100: #333333;
    --text-color-300: #888888;
    --text-color-500: #e0e0e0;
    --text-contrast-color: #ffffff;
    --border: 2px solid var(--text-color-500);
    --box-shadow-sm: 0 0 0.1rem 0 rgba(0, 0, 0, 0.2);
    --box-shadow-md: 0 0 0.2rem 0 rgba(0, 0, 0, 0.2);
    --box-shadow-lg: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    --text-size-xs: 0.75rem;
    --text-size-sm: 0.875rem;
    --text-size-md: 1rem;
    --text-size-lg: 1.25rem;
    --padding-xs: 0.25rem;
    --padding-sm: 0.5rem;
    --padding-md: 0.75rem;
    --padding-lg: 1rem;
    --padding-xl: 2rem;
    --padding-xxl: 4rem;
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    --gap-sm: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: var(--text-color-100);
}

.toastsRoot {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: var(--padding-md);
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .toastsRoot {
        left: 0;
        right: 0;
        align-items: center;
    }
}