@font-face {
    font-family: 'Manrope';
    src: url("./assets/font/Manrope-VariableFont_wght.ttf");
}

html {
    font-size: 16px;
    --primary-color-1000: #e7e7ff;
    --primary-color-900: #c4c4ff;
    --primary-color-800: #a1a1ff;
    --primary-color-700: #7e7eff;
    --primary-color-600: #5b5bff;
    --primary-color-500: #2a00e7;
    --text-color-100: #000000;
    --text-contrast-color-100: #ffffff;
    --padding-small: 0.5rem;
    --border-radius-small: 0.25rem;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}